
.main-content {
  display: flex;
  gap: 70px; 
  padding-top: 10px;
}




.card-container {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
  .card {
    margin: 0; 
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    flex: 1 1 calc(25% - 10px); 
    box-sizing: border-box; 

    
  }
  
  .card-img {
    width: 13rem;
    height: 8rem;
    margin-bottom: 1rem;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-reviews {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .rating-star {
    color: #f5c518;
    margin-right: 4px;
  }
  
  .total-reviews {
    margin-left: 8px;
    font-size: 0.9rem;
  }
  
  .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-size: 1.1rem;
    color: #333;
  }
  .bag-icon {
    color: #ff5722;
    
  }
  